# Copy to .env in the project root for local dev env or next to compose.prod.yaml on the application host.
ECR_REPOSITORY_URL=123456789012.dkr.ecr.us-east-1.amazonaws.com/spotify-playlist-helpers
IMAGE_TAG=0.1-dev
