# Copy to .env in the project root for local dev env or next to compose.prod.yaml on the application host.

# app settings
SERVER_HOST=http://127.0.0.1:8000
SERVER_SECRET=...
SPOTIFY_CLIENT_ID=...
SPOTIFY_CLIENT_SECRET=...
USERS_DB_PATH=users.sqlite

# docker compose
ECR_REPOSITORY_URL=123456789012.dkr.ecr.us-east-1.amazonaws.com/spotify-playlist-helpers
IMAGE_TAG=0.1-dev
