# required parameters
SERVER_HOST=http://127.0.0.1:8000
SERVER_SECRET=...
SPOTIFY_CLIENT_ID=...
SPOTIFY_CLIENT_SECRET=...

# these have default values but can be overridden
USERS_DB_PATH=users.sqlite
AUTH_REDIRECT_ENDPOINT=/auth-callback