<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add artist</title>
</head>
<body>
<h2>Add artist</h2>
{% if done %}
    <div>Done</div>
    <div><a href="/">Back</a></div>
{% else %}
    <form action="/add_artist_to_playlist">
        <label for="playlist_id">Playlist ID</label>
        <br>
        <input type="text" id="playlist_id" name="playlist_id" value="{{ playlist_id }}">
        <br>
        <label for="artist_id">Artist ID</label>
        <br>
        <input type="text" id="artist_id" name="artist_id" value="{{ artist_id }}">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endif %}
</body>
</html>